
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
.nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  overflow-x: hidden;
}
.navbar img {
  max-width: 35vw;
  height: auto;
}
@media (min-width: 768px) {
  .navbar img {
    max-width: 20vw;
  }
}
@media (min-width: 1024px) {
  .navbar img {
    max-width: 15vw;
  }
}
@media (max-width: 768px) {
  .navbar button {
    background-color: rgb(106, 106, 244);
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: white;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .navbar button {
    display: none;
  }
}
@media (max-width: 1024px) {
  .navbar-section {
    display: none;
  }
}
@media (min-width: 1024px) {
  .navbar-section {
    display: flex;
    gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  .navbar-section.open {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 244, 251);
    gap: 2rem;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 3rem;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .navbar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: auto;
  }

  .navbar-section span:hover {
    color: rgb(215, 210, 210);
    cursor: pointer;
  }
}
/* sliding images */
@media (min-width: 1024px) {
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .image-display {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    height: 100vh;
  }

  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: Black;
  }
}
@media (max-width: 768px) {
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .image-display {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30vw;
    height: 30vh;
  }

  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #e7e0e0;
    cursor: pointer;
    border: 0.3rem solid black;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: rgb(226, 218, 218);
  }
}
/* content-section css */
@media (min-width: 1024px) {
  .slider-container {
    position: relative;
    overflow: hidden;
  }
  .image-display {
    height: 100vh;

    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .image-content {
    text-align: center;
    color: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 80%;
  }
  .image-content h2 {
    font-size: 5.3rem;
    margin-bottom: 2rem;
  }

  .image-content p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }

  .read-more {
    padding: 1.1rem 2.5rem;
    background-color: rgb(106, 106, 244);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .read-more:hover {
    background-color: rgb(119, 119, 245);
    color: white;
  }

  .dots-container {
    text-align: center;
    margin-top: 15px;
  }

  .dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot.active {
    background-color: #333;
  }
}
